/* theses colors are copied from tailwind css color palette - https://tailwindcss.com/docs/customizing-colors */
/* brand color -> tailwind-css violet */
/* neutral -> tailwind-css slate */
/* error -> tailwind-css rose */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand-50: 250 100% 98%;
    --brand-100: 251 91% 95%;
    --brand-200: 251 95% 92%;
    --brand-300: 252 95% 85%;
    --brand-400: 255 92% 76%;
    --brand-500: 258 90% 66%;
    --brand-600: 262 83% 58%;
    --brand-700: 263 70% 50%;
    --brand-800: 263 69% 42%;
    --brand-900: 264 67% 35%;
    --brand-950: 261 73% 23%;

    --neutral-50: 210 40% 98%;
    --neutral-100: 210 40% 96%;
    --neutral-200: 214 32% 91%;
    --neutral-300: 213 27% 84%;
    --neutral-400: 215 20% 65%;
    --neutral-500: 215 16% 47%;
    --neutral-600: 215 19% 35%;
    --neutral-700: 215 25% 27%;
    --neutral-800: 217 33% 17%;
    --neutral-900: 222 47% 11%;
    --neutral-950: 229 84% 5%;

    --error-50: 356 100% 97%;
    --error-100: 356 100% 95%;
    --error-200: 353 96% 90%;
    --error-300: 353 96% 82%;
    --error-400: 351 95% 71%;
    --error-500: 350 89% 60%;
    --error-600: 347 77% 50%;
    --error-700: 345 83% 41%;
    --error-800: 343 80% 35%;
    --error-900: 342 75% 30%;
    --error-950: 343 88% 16%;

    --border: var(--neutral-200);
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: 'Roboto', sans-serif;
  }
}
